services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: fraud
      POSTGRES_USER: fraud
      POSTGRES_PASSWORD: fraud
    ports:
      - "5433:5432"
  redis:
    image: redis:7
    ports:
      - "6380:6379"
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
  kafka:
    image: confluentinc/cp-kafka:7.6.0
    depends_on:
      - zookeeper
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9093:9092"
  app:
    build: .
    depends_on:
      - postgres
      - redis
      - kafka
    ports:
      - "8081:8080"
